<link rel="stylesheet" href="Css/ListRegiones.css">
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Lista de Regiones</h2>
        <a href="/Regiones/Add" class="btn btn-primary mb-3">Agregar Nueva Región</a>
    </div>

    <!-- Verifica si hay regiones disponibles -->
    {{#if regiones.length}}
        <div class="region-container">
            {{#each regiones}}
                <div class="d-flex justify-content-between align-items-center region-list p-3 m-2 bg-white text-black rounded-2 shadow-sm">
                    <p class="ms-2 mb-0">{{this.nombre}}</p>
                    <div>
                        <a href="/Regiones/Edit/{{id}}" class="btn btn-warning btn-sm mx-1">Editar</a>
                        <form action="/Regiones/ConfirmDelete/{{id}}  " style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm mx-1">Eliminar</button>
                        </form>
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="alert alert-warning" role="alert">
            No hay regiones disponibles.
        </div>
    {{/if}}
</div>

