/* Estilo global */
/* body {
    font-family: Arial, sans-serif;
    background-color: #212529;
    
} */

/* Estilo de la tarjeta del Pokémon */
.pokemon-card {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Cambio de tamaño y sombra al pasar el mouse */
.pokemon-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.pokemon-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

/* Contenedor de la imagen */
.pokemon-image {
    width: 150px;              /* Ancho del contenedor de la imagen */
    height: 150px;          /* Alto del contenedor de la imagen */
    background-color: #add6dd; /* Color de fondo del contenedor */
    border-radius: 8px;        /* Opcional: para bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
}

.pokemon-image img {
    width: 100%;               /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 100%;              /* Hace que la imagen ocupe todo el alto del contenedor */
    object-fit:cover;         /* Asegura que la imagen cubra completamente el contenedor sin deformarse */
}
/* Contenedor de los detalles del Pokémon */
.pokemon-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.pokemon-name {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    color: #353535;
}

.pokemon-type, .pokemon-region {
    font-size: 16px;
    margin-top: 10px;
    color: #555;
}
.alert-warning {
    font-size: 1.1rem;
    margin-top: 20px;
    text-align: center;
}

/* Tipo Planta */
.Planta {
    color: #4CAF50; /* Color verde para el tipo Planta */
}

/* Tipo Fuego */
.Fuego {
    color: #FF5722; /* Color rojo para el tipo Fuego */
}

/* Tipo Agua */
.Agua {
    color: #2196F3; /* Color azul para el tipo Agua */
}

/* Tipo Eléctrico */
.Electrico {
    color: #FFEB3B; /* Color amarillo para el tipo Eléctrico */
}

/* Tipo Hielo */
.Hielo {
    color: #00BCD4; /* Color cyan para el tipo Hielo */
}

/* Tipo Lucha */
.Lucha {
    color: #D32F2F; /* Color rojo oscuro para el tipo Lucha */
}

/* Tipo Veneno */
.Veneno {
    color: #9C27B0; /* Color morado para el tipo Veneno */
}

/* Tipo Tierra */
.Tierra {
    color: #8D6E63; /* Color marrón para el tipo Tierra */
}

/* Tipo Volador */
.Volador {
    color: #0288D1; /* Color azul para el tipo Volador */
}

/* Tipo Psíquico */
.Psiquico {
    color: #9C27B0; /* Color púrpura para el tipo Psíquico */
}

/* Tipo Bicho */
.Bicho {
    color: #8BC34A; /* Color verde claro para el tipo Bicho */
}

/* Tipo Roca */
.Roca {
    color: #BDBDBD; /* Color gris para el tipo Roca */
}

/* Tipo Fantasma */
.Fantasma {
    color: #607D8B; /* Color gris oscuro para el tipo Fantasma */
}

/* Tipo Dragón */
.Dragon {
    color: #FF9800; /* Color naranja para el tipo Dragón */
}

/* Tipo Siniestro */
.Siniestro {
    color: #455A64; /* Color gris azulado para el tipo Siniestro */
}

/* Tipo Acero */
.Acero {
    color: #607D8B; /* Color gris acero para el tipo Acero */
}

/* Tipo Hada */
.Hada {
    color: #F8BBD0; /* Color rosa claro para el tipo Hada */
}


/* Estilo para la región */
.pokemon-region {
    color: #6c757d; /* Color gris para la región */
}


