@{
    ViewData["Title"] = "Home Page";
}

<div class="container cajero-container">
    <div class="text-center">
        <h1>Cajero Automático</h1>
        <h3>Seleccione una opción</h3>

        <div class="menu mt-4">
            <ul class="list-group">              
                <li class="list-group-item">
                    <a asp-action="Retiro" class="btn btn-cajero btn-primary">
                        Retirar Dinero
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
