@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cajero Automatico</h1>
    <ul class="list-group">
        <button type="button" class="btn">Retirar Dinero</button>
        <button type="button" class="btn">Deposito </button>
        <button type="button" class="btn">Transferencias </button>
        <button type="button" class="btn">Idioma </button>
    </ul>
</div>
