<div class="container">
    <h2>Agregar Serie</h2>
    <form action="/Series/Add" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Título de la serie</label>
            <input type="text" id="title" name="title" class="form-control" placeholder="Título de la serie" required>
        </div>
        <div class="mb-3">
            <label for="genero" class="form-label">Género</label>
            <select id="genero" name="genero" class="form-control" required>
                <option value="">Seleccione un género</option> <!-- Opción por defecto -->
                {{#each generos}}
                    <option value="{{this.nombre}}">{{this.nombre}}</option> <!-- Usar el nombre del género -->
                {{/each}}
            </select>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea id="descripcion" name="descripcion" class="form-control" placeholder="Descripción" required></textarea>
        </div>
        <div class="mb-3">
            <label for="imagenPortada" class="form-label">URL de imagen</label>
            <input type="text" id="imagenPortada" name="imagenPortada" class="form-control" placeholder="URL de imagen" required>
        </div>
        <div class="mb-3">
            <label for="videoUrl" class="form-label">URL del video</label>
            <input type="text" id="videoUrl" name="videoUrl" class="form-control" placeholder="URL del video" required>
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
        <a href="/Series" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
